proxy:
  port: 8080
  authentication: keycloak
  useForwardHeaders: true  # not sure if necessary or not
  admin-groups: admins
  keycloak:
    realm: shinyproxy
    auth-server-url: http://192.168.1.63:9080/auth
    resource: shinyproxy                                                  
    credentials-secret: <CREDENTIALS_SECRET>  # interpolated by build
    name-attribute: email  # shinyproxy bug fix https://git.io/fjOzK
  docker:
      internal-networking: true
logging:
  file:
    shinyproxy.log
